body {
  margin: 0;
}
.appbar {
  z-index: 2;
  height: 70px;
  padding: 12px 50px 12px 50px;
  background-color: black !important;
  box-shadow: none;
  display: 'flex';
  justify-content: center;
}
.spaceAround {
  display: flex;
  justify-content: space-between;
}
.dflex {
  display: flex
}
.spaceNav {
  height: 70px;
  width: 100%;
  display: block;
}
.pageContainer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #eaf9ff, #ffe5d9);
}
.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.pageText {
  width: 800px;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #F46607;
  text-decoration: none;
}